.octodex {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.octocat {
  list-style: none;
}

.octocat img {
  width: 350px;
  height: 350px;
  border: 1px solid gray;
}

.image-footer {
  display: flex;
  justify-content: space-between;
}

.authors {
  list-style: none;
  padding: 0;
}

.authors img {
  width: 50px;
  height: 50px;
}

.image-number:before {
  content: "#";
}
